/* Global */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
body {
    background-color: #333C4A;
    margin: 0px;
    padding: 0px;
}

td tr {
    background-color: #333C4A;
}

.list-style {
    background-color: #333C4A;
    color: #333C4A;
}

hr {
    color: #BDC3C7;
    width: 15%;
    margin-left: auto;
    margin-right: auto;
}

.font-title {
    /* font-family: 'Playfair+Display'; */
    color: #BDC3C7;
}

.regular {
    font-family: Lato;
    color: #BDC3C7;
}

.text-gold {
    color: #B87333;
}

/* Combinaison des classes (avec text-decoration-none) pour créer des liens qui sont soulignés au survol.
/* ATTENTION: j'ai placé !important dans mon style (risque d'ecrasement d'autres styles) */
.hover-underline:hover {
    text-decoration: underline !important;
}

/* fin de Global */

/* header */
.navbar-nav .nav-item {
    margin-right: 40px;
}

.mob-menu {
    border-color: #BDC3C7;
    color: #BDC3C7;
}

.bar-logo {
    width: 100px;
}

.dropdown-menu {
    background-color: #333C4A;
    /* border-style: none; */
    border-color: #BDC3C7;
}

.dropdown-item {
    color: #BDC3C7;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #BDC3C7;
}

/* fin de header */


/* main */
.table-spaced {
    border-collapse: separate;
    border-spacing: 20px 0; /* 15px d'espace horizontal, 0 d'espace vertical */
}

#dash-options {
    list-style-type: none;
}

/* début section Accueil */
.title-resize {
    font-size: 485%;
}

.title-resize4 {
    font-size: 300%;
}

.text-center-vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60vh;
    /* 100% de la hauteur de la vue (viewport) */
}

/* inscription */


/* formulaire de contact */
::placeholder {
    font-size: 80%;
}

.btn-form {
    background: #333C4A;
    color: #BDC3C7;
    border: 1px solid;
}

.btn-form:hover {
    background: #B87333;
    color: #333C4A;
}

.form-check-label {
    color: #BDC3C7;
    font-style: italic;
}

.select-style {
    border-radius: 5px;
    height: 39px;
    font-family: Lato;
    font-size: 80%;
}   
.price-style {
    border-radius: 5px;
    height: 39px;
    font-family: Lato;
}
/* fin section Accueil */

/* footer */
footer {
    background-color: #333C4A;
}

.letter-sp {
    letter-spacing: 2px;
}

.footer-icons {
    font-size: 45px;
    color: #BDC3C7;
    letter-spacing: 20px;
    margin-left: 0px;
}

/* Centrer le carousel */
.custom-center {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Adapter la hauteur comme nécessaire */
}

.carousel .carousel-inner .carousel-item img {
    width: 75%; /* Ajuster la largeur comme nécessaire */
    margin: auto; /* Important pour le centrage horizontal des images */
}

/* Optionnel: Ajuster la hauteur des images pour qu'elles soient toutes identiques */
.carousel .carousel-inner .carousel-item img {
    height: 500px; /* Exemple de hauteur fixe */
    object-fit: cover; /* Ajuster l'image sans la déformer */
    border-radius: 5px;
}
.table-centered {
    margin-left: auto;
    margin-right: auto;
}
.dash-icon {
    font-size: 50px;
}
.btn-title-style {
    font-size:medium;
}