/* Global */
body {
    background-color: #333C4A;
    margin: 0px;
    padding: 0px;
}

td tr {
    background-color: #333C4A;
}

hr {
    color: #BDC3C7;
    width: 15%;
    margin-left: auto;
    margin-right: auto;
}

.font-title {
    font-family: 'Playfair+Display', serif;
    color: #BDC3C7;
}

.regular {
    font-family: Lato;
    color: #BDC3C7;
}

.text-gold {
    color: #B87333;
}

/* Combinaison des classes (avec text-decoration-none) pour créer des liens qui sont soulignés au survol.
/* ATTENTION: j'ai placé !important dans mon style (risque d'ecrasement d'autres styles) */
.hover-underline:hover {
    text-decoration: underline !important;
}

/* fin de Global */

/* header */
.navbar-nav .nav-item {
    margin-right: 40px;
}

.mob-menu {
    border-color: #BDC3C7;
    color: #BDC3C7;
}

.bar-logo {
    width: 100px;
}

.dropdown-menu {
    background-color: #333C4A;
    /* border-style: none; */
    border-color: #BDC3C7;
}

.dropdown-item {
    color: #BDC3C7;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #BDC3C7;
}

/* fin de header */

/* main */
#dash-options {
    list-style-type: none;
}

/* début section Accueil */
.title-resize {
    font-size: 485%;
}

.title-resize4 {
    font-size: 300%;
}

.text-center-vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60vh;
    /* 100% de la hauteur de la vue (viewport) */
}

/* inscription */



/* formulaire de contact */
::placeholder {
    font-size: 80%;
}

.btn-form {
    background: #333C4A;
    color: #BDC3C7;
    border: 1px solid;
}

.btn-form:hover {
    background: #B87333;
    color: #333C4A;
}

.form-check-label {
    color: #BDC3C7;
    font-style: italic;
}

/* fin section Accueil */

/* footer */
footer {
    background-color: #333C4A;
}

.letter-sp {
    letter-spacing: 2px;
}

.footer-icons {
    font-size: 45px;
    color: #BDC3C7;
    letter-spacing: 20px;
    margin-left: 0px;
}